version : '3.8'

services:
  server:
    build: ./server
    container_name: express-server
    ports:
      - "5000:5000"
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build: ./client
    container_name: react-client
    ports:
      - "5174:3000"
    networks:
      - fullstack-net
    restart: unless-stopped
    depends_on:
      - server
  
networks:
  fullstack-net:
    driver: bridge